{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPCArt-Studio - Usuario</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="https://img.icons8.com/?size=100&id=x2NWl8eveoRp&format=png&color=000000" alt="Logo de Arte en Pixeles" width="100">
                <h1>IPCArt-Studio</h1>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="">
                            <img width="64" height="64" src="https://img.icons8.com/external-others-iconmarket/64/external-galery-navigation-others-iconmarket-3.png" alt="external-galery-navigation-others-iconmarket-3"/>
                            Galería
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="24" height="24" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/external-upload-networking-tanah-basah-basic-outline-tanah-basah-2.png" alt="external-upload-networking-tanah-basah-basic-outline-tanah-basah-2"/>
                            Cargar Imagen
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="128" height="128" src="https://img.icons8.com/pastel-glyph/128/edit--v1.png" alt="edit--v1"/>
                            Editor de imágenes
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/help--v1.png" alt="help--v1"/>a
                            Ayuda
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://img.icons8.com/ios-filled/50/000000/shutdown.png" alt="Cerrar Sesión Icon">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="content">
        </main>
    </div>
</body>
</html>
